@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.eot');
  src: url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lora-Regular.woff2') format('woff2'), url('../fonts/Lora-Regular.woff') format('woff'), url('../fonts/Lora-Regular.ttf') format('truetype'), url('../fonts/Lora-Regular.svg#Lora-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* fonts */
/* colors */
/* Basic setting */
html {
  font-size: 10px;
}
h1,
h2,
h3,
p,
ul,
li,
div,
input,
iframe {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden !important;
}
button {
  outline: none;
  border: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
input:hover,
input:focus {
  outline: none;
}
/* Setting */
.head h3 {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  color: #3d3d3d;
  letter-spacing: 0.9px;
  font-family: 'Playfair Display', serif;
}
.head h3 span {
  color: #ef90ae;
}
.btn-pink button {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1rem 3rem;
  background-color: #ef90ae;
  border: 1px solid #ef90ae;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  border-radius: 0.1rem;
  font-family: 'Lora', sans-serif;
}
.btn-pink button:after {
  content: '>>';
}
.btn-black button {
  background-color: transparent;
  padding: 1rem 2rem;
  border: 1px solid #000000;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  border-radius: 0.1rem;
  font-family: 'Lora', sans-serif;
}
.btn-black button:after {
  content: '>>';
  font-size: 1.6rem;
}
/* шапка сайта */
.header {
  border-bottom: 1px solid #e6e6e6;
  font-family: 'Lora', sans-serif;
  color: #464646;
}
.header-logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.header-logo a {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #000000;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.header-logo a span {
  color: #ef90ae;
}
.header-city {
  position: relative;
  display: inline-block;
  margin-top: 3rem;
}
.header-city i {
  margin-right: 0.5rem;
}
.header-city:after {
  content: '';
  position: absolute;
  top: 0.3rem;
  right: -1.8rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid #464646;
  border-top: none;
  border-left: none;
  --webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-city select {
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  color: #464646;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.header-city select option {
  outline: none;
  border: none;
}
.header-phone {
  display: inline-block;
  margin-top: 3rem;
  margin-left: 5rem;
}
.header-phone a {
  color: #464646;
  font-size: 1.4rem;
  font-weight: 400;
}
.header-phone a i {
  margin-right: 0.5em;
  font-size: 1.4rem;
  --webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.header-nav ul {
  list-style-type: none;
}
.header-nav ul li {
  display: inline-block;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid transparent;
}
.header-nav ul li a {
  color: #464646;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-right: 1.52rem;
  padding-left: 1.52rem;
}
.header-nav ul li:hover {
  cursor: pointer;
  background-color: #fff4f7;
  border-bottom: 1px solid #ef90ae;
}
.header-icons {
  text-align: center;
  margin-top: 2.6rem;
}
.header-icons a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.header-icons a img {
  --webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.header-icons a img:hover {
  --webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  --webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.header-icons-basket {
  display: inline-block;
  position: relative;
}
.header-icons-basket span {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #f1a9c0;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* Информация о сайте */
.info {
  margin-bottom: 10rem;
}
.info-content {
  margin-top: 15rem;
  margin-bottom: 15rem;
  font-family: 'Playfair Display', serif;
}
.info-content h1 {
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #000000;
}
.info-content h1 span {
  color: #ef90ae;
}
.info-content small {
  font-size: 2.5rem;
  font-style: italic;
  color: #000000;
}
.info-content p {
  margin-top: 3rem;
  font-size: 1.8rem;
  color: #3d3d3d;
  font-family: 'Lora', sans-serif;
}
.info-content p span {
  color: #4f4f4f;
}
.info-content-btn {
  margin-top: 4rem;
}
.info-picture {
  position: relative;
}
.info-picture_more {
  position: absolute;
  width: 55rem;
  height: 54rem;
  top: 0;
  right: -75rem;
}
/* Наши приимущества */
.advantages {
  background-color: #fff4f7;
  margin-bottom: 14rem;
  font-family: 'Playfair Display', serif;
}
.advantages-content {
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 7rem;
  padding: 5rem 7rem	5rem 9rem;
  border: 1px solid #ffffff;
}
.advantages-content p {
  font-size: 3rem;
  color: #2e2e2e;
  font-weight: 700;
}
.advantages-content p span {
  color: #ef90ae;
}
/* Каталог */
.catalog-head {
  display: block;
  margin-bottom: 2rem;
}
.catalog-slider {
  margin-top: 6rem;
  margin-bottom: 10rem;
}
.catalog-slider-nav {
  position: relative;
  outline: none;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Lora', sans-serif;
}
.catalog-slider-nav-item {
  margin-left: 5rem;
}
.catalog-slider-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 2.5rem;
  text-align: left;
  background-color: #ffffff;
  z-index: 99;
}
.catalog-slider-prev:after {
  content: '<<';
  padding-left: 2rem;
}
.catalog-slider-next {
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
  height: 2.5rem;
  text-align: right;
  background-color: #ffffff;
  z-index: 99;
}
.catalog-slider-next:after {
  content: '>>';
  padding-right: 2rem;
}
.catalog-slider-for {
  padding-top: 3rem;
}
.catalog-card {
  position: relative;
  width: 100%;
  height: 38rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
}
.catalog-card-wrapper {
  border: 1px solid transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 36rem;
}
.catalog-card-wrapper:hover {
  border-color: #ffffff;
}
.catalog-card-bookmarks {
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
}
.catalog-card-bookmarks-click {
  background: transparent url(../img/catalog/bookmarks_click.png) center no-repeat;
}
.catalog-card-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: auto;
}
.catalog-card-content_head {
  display: block;
  margin-bottom: 1rem;
  color: #3d3c3c;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}
.catalog-card-content_price {
  display: block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #ef90ae;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.catalog-card-content_btn {
  margin-bottom: 2rem;
  background-color: transparent;
  font-size: 1.2rem;
  color: #000000;
  font-weight: 400;
  border: 1px solid #000000;
  padding: 0.5rem 3rem;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
}
.catalog-card-content_btn:hover {
  background-color: #000000;
  color: #ffffff;
}
.catalog-card:hover {
  background: #fafafa url(../img/catalog/hover_bg.png) bottom no-repeat;
  box-shadow: 0 2px 13px 1px rgba(0, 0, 0, 0.06);
}
.catalog-card-slider {
  position: relative;
  padding-bottom: 5rem;
}
.catalog-card-slider-arrows-prev {
  position: absolute;
  display: block;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 10rem;
  width: 3rem;
  height: 4rem;
  padding: 1rem;
  z-index: 99;
  font-size: 1.9rem;
  background-color: #ef90ae;
  opacity: 0.7;
  color: #ffffff;
  cursor: pointer;
}
.catalog-card-slider-arrows-prev:hover {
  opacity: 1;
}
.catalog-card-slider-arrows-next {
  position: absolute;
  display: block;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 10rem;
  right: 0;
  z-index: 99;
  width: 3rem;
  height: 4rem;
  padding: 1rem;
  font-size: 1.9rem;
  background-color: #ef90ae;
  opacity: 0.7;
  color: #ffffff;
  cursor: pointer;
}
.catalog-card-slider-arrows-next:hover {
  opacity: 1;
}
.catalog-card-slider-counter {
  position: absolute;
  bottom: 0;
  width: 7rem;
  height: 4rem;
  padding: 1rem 2.6rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #fff1f5;
  color: #585858;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}
.catalog-card-slider-counter span {
  color: #ef90ae;
}
.slick-current {
  outline: none;
  color: #ef90ae;
}
/* Отзывы */
.reviews {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 10rem;
  margin-top: 10rem;
  background-color: #fafafa;
}
.reviews-count {
  position: absolute;
  bottom: 10rem;
  padding: 1rem 3rem;
  background-color: #fff1f5;
  color: #585858;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}
.reviews-count span {
  color: #ef90ae;
}
.reviews-slider {
  position: relative;
}
.reviews-slider-prev {
  position: absolute;
  font-size: 19px;
  top: 109%;
  left: 40%;
  color: red;
  z-index: 99;
  cursor: pointer;
}
.reviews-slider-next {
  position: absolute;
  font-size: 19px;
  top: 109%;
  right: 40%;
  color: #ffffff;
  z-index: 99;
  cursor: pointer;
}
.reviews-slider-content h4 {
  display: block;
  color: #2e2e2e;
  margin-top: 15rem;
  margin-bottom: 6rem;
  font-size: 3.6rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.reviews-slider-content h4 span {
  color: #ef90ae;
}
.reviews-slider-content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #3d3d3d;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}
.reviews-slider-content small {
  display: block;
  color: #3d3d3d;
  margin-top: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}
.reviews-slider-content small img {
  display: inline-block;
  margin-right: 1rem;
}
.reviews-slider-picture {
  width: 100%;
  height: 55rem;
  background-color: #ebebeb;
}
.reviews-slider-picture-count {
  position: absolute;
  bottom: 0;
  right: 4rem;
  padding: 1rem 3rem;
  background-color: #fff1f5;
  color: #585858;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
}
.reviews-slider-picture-count span {
  color: #ef90ae;
}
.reviews-slider-picture-prev {
  position: absolute;
  font-size: 19px;
  bottom: 0;
  right: 13rem;
  color: red;
  height: 4rem;
  width: 3rem;
  padding: 1rem;
  background-color: #ef90ae;
  opacity: 0.7;
  color: #ffffff;
  z-index: 99;
  cursor: pointer;
}
.reviews-slider-picture-prev:hover {
  opacity: 1;
}
.reviews-slider-picture-next {
  position: absolute;
  font-size: 19px;
  bottom: 0;
  right: 3rem;
  height: 4rem;
  width: 3rem;
  padding: 1rem;
  background-color: #ef90ae;
  opacity: 0.7;
  color: #ffffff;
  z-index: 99;
  cursor: pointer;
}
.reviews-slider-picture-next:hover {
  opacity: 1;
}
/* Блог */
.blog {
  margin-top: 14rem;
  margin-bottom: 14rem;
}
.blog-head {
  margin-bottom: 7rem;
}
.blog-picture-info {
  background-color: #ebebeb;
  width: 100%;
  height: 30rem;
}
.blog-information {
  display: inline-block;
  background-color: #fff4f7;
  margin-top: 3rem;
  width: 48%;
  height: 33rem;
  float: left;
}
.blog-information p {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.68px;
  font-family: 'Playfair Display', serif;
}
.blog-information p small {
  font-style: italic;
}
.blog-information p span {
  color: #ef90ae;
}
.blog-information-wrapper {
  border: 1px solid #ffffff;
  margin: 1.5rem;
  padding: 5rem 3.2rem;
  height: 30rem;
}
.blog-information-picture {
  margin-top: 3rem;
  background-color: #ebebeb;
  float: right;
  width: 48%;
  height: 33rem;
}
.blog-roses {
  background-color: #ebebeb;
  padding: 1rem;
}
.blog-roses-info {
  background-color: #fff4f7;
  padding: 15.5rem 3rem;
  opacity: 1;
}
.blog-roses-info strong {
  font-size: 3rem;
  font-weight: 700;
  color: #3d3d3d;
  font-family: 'Playfair Display', serif;
}
.blog-roses-info strong span {
  color: #ef90ae;
}
.blog-roses-info p {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}
.blog-btn {
  margin-top: 3rem;
}
/* Рассылка  */
.newsletter {
  margin-bottom: 14rem;
  background-color: #fff4f7;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.newsletter-wrapper {
  padding: 8rem;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.newsletter strong {
  display: block;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
.newsletter strong span {
  color: #ef90ae;
}
.newsletter small {
  display: block;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.newsletter-form {
  margin-top: 3rem;
}
.newsletter-form input[type="text"] {
  width: 26rem;
  height: 4rem;
  color: #696969;
  padding: 2rem;
  margin: 0;
}
.newsletter-form input::placeholder {
  color: #696969;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Lora', sans-serif;
}
.newsletter-form input[type="submit"] {
  border: none;
  height: 4.6rem;
  background-color: transparent;
  border: 1px solid #000000;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: -0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
}
/* Клиенты */
.client {
  margin-bottom: 14rem;
}
.client-head {
  margin-bottom: 6rem;
}
.client-content {
  height: 10rem;
  background-color: #ebebeb;
}
.client-content:hover {
  background-color: #fff4f7;
}
/* Футер */
.footer {
  background-color: #000000;
  padding-top: 7rem;
  padding-bottom: 6rem;
}
.footer-logo {
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
}
.footer-logo a {
  color: #ef90ae;
}
.footer-city {
  display: inline-block;
  font-family: 'Lora', sans-serif;
}
.footer-city i {
  margin-right: 0.5rem;
  color: #ffffff;
}
.footer-city select {
  outline: none;
  border: none;
  color: #ffffff;
  background-color: transparent;
}
.footer-city select option {
  outline: none;
  border: none;
}
.footer-phone {
  display: inline-block;
  margin-top: 2rem;
  font-family: 'Lora', sans-serif;
}
.footer-phone a {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
}
.footer-phone a i {
  margin-right: 0.5em;
  font-size: 1.4rem;
  --webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.footer-social {
  margin-top: 4rem;
}
.footer-social a {
  margin-left: 2.8rem;
}
.footer-social a:first-child {
  margin-left: 0;
}
.footer-social a img {
  --webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.footer-social a img:hover {
  --webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  --webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.footer-icons {
  margin-top: 0.5rem;
}
.footer-icons a img {
  --webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.footer-icons a img:hover {
  --webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  --webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.footer-icons-basket {
  display: inline-block;
  position: relative;
  margin-left: 3.1rem;
}
.footer-icons-basket span {
  position: absolute;
  top: -1rem;
  right: -1.1rem;
  text-align: center;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #f1a9c0;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.footer-newsletter-content {
  margin-top: 3.3rem;
}
.footer-newsletter-content strong {
  display: block;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.45px;
  font-family: 'Playfair Display', serif;
}
.footer-newsletter-content strong span {
  color: #f2a9bf;
}
.footer-newsletter-content small {
  display: block;
  color: #ffffff;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-style: italic;
  letter-spacing: 0.35px;
  font-family: 'Playfair Display', serif;
}
.footer-newsletter-form {
  margin-top: 2.6rem;
}
.footer-newsletter-form input[type="text"] {
  border: 1px solid #ffffff;
  width: 20rem;
  color: #696969;
  background-color: #232323;
  padding: 1rem;
  margin: 0;
}
.footer-newsletter-form input::placeholder {
  color: #696969;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.35px;
  font-family: 'Lora', sans-serif;
}
.footer-newsletter-form input[type="submit"] {
  border: 1px solid #ffffff;
  width: 15rem;
  height: 4.4rem;
  background-color: transparent;
  color: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: -0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Lora', sans-serif;
}
.footer-nav-link {
  display: inline-block;
  margin-left: 7rem;
  vertical-align: top;
}
.footer-nav-link:first-child {
  margin-left: 0;
}
.footer-nav-link ul {
  list-style: none;
}
.footer-nav-link ul li a {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 3rem;
  font-family: 'Lora', sans-serif;
}
.footer-nav-link ul li a:hover {
  color: #df86a2;
}
