/* colors */
body {
  font-family: sans-serif;
  color: #4f4f4f;
}
.active {
  display: block;
}
/* Шапка сайта */
.header {
  position: relative;
  padding: 30px 35px;
}
.header__left {
  float: left;
  width: 35%;
}
.header__left-head {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  color: #4f4f4f;
}
.header__left-head small {
  display: inline-block;
  background-color: #70c424;
  color: #ffffff;
  width: 48px;
  text-align: center;
  height: 48px;
  font-size: 45px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.header__left-text {
  display: inline-block;
  color: #4f4f4f;
  margin-left: 40px;
  width: 190px;
  font-size: 18px;
}
.header__left-text span {
  font-weight: 700;
}
.header__right {
  float: right;
  width: 25%;
  text-align: right;
}
.header__right-connection {
  display: block;
  margin-left: auto;
  text-align: center;
  width: 150px;
  height: 20px;
  line-height: 20px;
  background-color: #70c424;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.header__right-phone {
  margin-top: 10px;
}
.header__right-phone a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.9px;
  margin-right: 5px;
}
.header__right-phone img {
  width: 20px;
}
.header__menu {
  position: absolute;
  display: none;
  top: -45px;
  background-color: #70c424;
  width: 100%;
  height: 45px;
}
.header__menu-mobile {
  position: absolute;
  background-color: #ffffff;
  right: 15px;
  top: 45%;
  width: 30px;
  height: 5px;
}
.header__menu-mobile:after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  left: 0;
  margin-top: -10px;
  width: 100%;
  height: 5px;
}
.header__menu-mobile:before {
  content: '';
  position: absolute;
  background-color: #ffffff;
  left: 0;
  margin-top: 10px;
  width: 100%;
  height: 5px;
}
/* Навигация */
.nav {
  position: relative;
  background-color: #fafafa;
  margin-top: 60px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
}
.nav__link {
  position: relative;
  display: inline-block;
  margin-right: 60px;
  line-height: 70px;
  vertical-align: middle;
  font-size: 18px;
}
.nav__link-vacansy small {
  position: absolute;
  top: -5px;
  color: #70c424;
  font-size: 15px;
  right: -18px;
  font-style: bold;
}
.nav__link::after {
  content: '';
  left: 0;
  bottom: 20px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
}
.nav__link:hover {
  cursor: pointer;
}
.nav__link:hover:after {
  background-color: #70c424;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
}
/* Заголовок */
.head__tittle {
  font-weight: normal;
  font-size: 25px;
  margin: 38px auto;
  text-align: center;
}
/* Вакансії */
.vacansy {
  background-color: #fafafa;
  padding: 20px 30px;
}
.vacansy__content {
  background-color: #ffffff;
  padding: 30px 30px 50px 30px;
}
.vacansy__content-head {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.vacansy__content-head span {
  text-transform: none;
  float: right;
  padding: 5px 8px;
  font-size: 16px;
  background-color: #70c424;
  color: #ffffff;
  font-style: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.vacansy__content-list {
  margin-top: 25px;
}
.vacansy__content-list-features {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.vacansy__up {
  display: block;
  font-weight: 700;
  color: #007b9f;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}
@media all and (max-width: 500px) {
  .header {
    position: relative;
    padding-top: 30px;
  }
  .header__left {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  .header__left-head {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .header__left-text {
    display: block;
    width: 210px;
  }
  .header__right {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .header__right-connection {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
  .header__right-phone a {
    display: block;
    margin-bottom: 5px;
  }
  .header__menu {
    display: block;
  }
  .nav {
    height: 100%;
    margin-top: 35px;
  }
  .nav__links {
    display: none;
  }
  .nav__link {
    display: block;
    margin-right: 0;
  }
  .nav__link small {
    display: none;
  }
  .nav__link:hover:after {
    background-color: transparent;
  }
}
.active {
  display: block;
}
